<div class='row mt-5'>
  <%= render partial: 'layouts/admin/side_menu' %>
  <div class='col-xs-6 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'>
    <div class='container card p-5'>
      <h1>ログ一覧</h1>

      <div class='my-3'>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            検索
        </button>
      </div>

      <div class="collapse" id="collapseExample">
        <div class='search-form my-3'>
          <%= form_with(scope: :search, url: admin_logs_path, method: :get, local: true) do |f| %>
            <div class='form-group'>
              <%= f.label :record_type, Log.human_attribute_name(:record_type) %>
              <%= f.select :record_type, ['ログイン', 'ログアウト'], { include_blank: '全て' }, { class: 'form-control' } %>
            </div>
            <%= f.label(:created_at, Log.human_attribute_name(:created_at)) %>
            <div class="form-group form-inline">
              <%= f.date_field :created_at_from, value: @search_params[:created_at_from], class: 'form-control mr-3' %>〜
              <%= f.date_field :created_at_to, value: @search_params[:created_at_to], class: 'form-control ml-3' %>
            </div>
            <%= f.submit '検索する', class: 'btn btn-secondary my-3'%>
            <%= reset_tag 'クリア', class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>

      <div class='mb-3'>
        <div class='my-2 float-right'>
          <%= paginate @logs %>
          <%= page_entries_info @logs %>
        </div>
        <table class='table table-hover'>
          <thead class='thead-default'>
            <tr>
              <th><%= Log.human_attribute_name(:created_at) %></th>
              <th><%= Log.human_attribute_name(:record_type) %></th>
              <th><%= Log.human_attribute_name(:user_id) %></th>
              <th><%= Log.human_attribute_name(:user_name) %></th>
              <th><%= Log.human_attribute_name(:user_email) %></th>
            </tr>
          </thead>
          <tbody>
            <% @logs.each do |log| %>
            <tr>
              <td><%= log.created_at.strftime('%Y年%m月%d日%H時%M分') %></td>
              <td><%= log.record_type %></td>
              <td><%= log.user_id %></td>
              <td><%= log.user_name %></td>
              <td><%= log.user_email %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
