<div class="row">
  <% @like_products.each do |like_pro| %>
    <div class="col-6 col-md-4">
      <div class="card my-2">
        <% if like_pro.images.attached? %>
          <%= image_tag(like_pro.images.first, class:"card-img-top") %>
        <% else %>
          <img src="/assets/sample.jpeg" class="card-img-top">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= like_pro.title %></h5>
          <p class="card-text"><%= like_pro.price %>円</p>
          <div class="row">
            <%= link_to '商品詳細', product_path(like_pro), class: "btn btn-outline-secondary mr-2" %>
            <div class="btn btn-lg btn-outline-secondary">
              <i class="fas fa-heart"></i> <%= like_pro.likes.count %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
