<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<% if user_signed_in? %>
  <!-- Button trigger modal -->
  <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModalCenter'>
    お問い合わせ
  </button>

  <!-- Modal -->
  <div class='modal fade' id='exampleModalCenter' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='exampleModalCenterTitle'>お問い合わせ入力フォーム</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <%= form_with model: @contact, local: true do |f| %>
            <div class='form-group'>
              <%= f.label :title, 'タイトル' %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= f.label :content, '内容' %>
              <%= f.text_area :content, class: 'form-control' %>
            </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>閉じる</button>
          <%= f.submit '送信する', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
