<div class='row mt-5'>
  <%= render partial: 'layouts/admin/side_menu' %>
  <div class='col-xs-6 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'>
    <div class='container card p-5'>
      <h1>カテゴリ一覧</h1>
    
      <div class='my-3'>
        <%= link_to '新規登録', new_admin_category_path, class: 'btn btn-primary' %>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          検索
        </button>
      </div>

      <div class="collapse" id="collapseExample">
        <div class='search-form my-3'>
          <%= form_with(scope: :search, url: admin_categories_path, method: :get, local: true) do |f| %>
            <div class='form-group'>
              <%= f.label :name, Category.human_attribute_name(:name) %>
              <%= f.select :name, Category.all.map { |cg| [cg.name] }, { include_blank: '全て' }, { class: 'form-control' } %>
            </div>
            <%= f.submit '検索する', class: 'btn btn-secondary my-3'%>
            <%= reset_tag 'クリア', class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>

      <div class='mb-3'>
        <table class='table table-hover'>
          <thead class='thead-default'>
            <tr>
              <th><%= Category.human_attribute_name(:name) %></th>
              <th><%= Category.human_attribute_name(:created_at) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.created_at.strftime('%Y年%m月%d日') %></td>
              <td>
                <%= link_to '詳細', [:admin, category], class: 'btn btn-secondary' %>
                <%= link_to '編集', edit_admin_category_path(category), class: 'btn btn-success' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
