<div class='container mt-5'>
  <h1>商品登録</h1>

  <div class='nav justify-content-end'>
    <%= link_to '一覧', admin_products_path, class: 'nav-link' %>
  </div>

  <% if @product.errors.present? %>
    <ul id='error_explanation'>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: [:admin, @product], local: true, url: confirm_new_admin_product_path do |f| %>
    <div class='form-group'>
      <%= f.label :user_name %>
      <%= f.select :user_id, User.all.map { |user| [user.name, user.id] }, { include_blank: '選択してください' }, { class: 'form-control' } %>
    </div>
    <div class='form-group'>
      <%= f.label :category_name %>
      <%= f.select :category_id, Category.all.map { |cg| [cg.name, cg.id] }, { include_blank: '選択してください' }, { class: 'form-control' } %>
    </div>
    <div class='form-group'>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: 'form-control' %>
    </div>

    <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>

</div>
