<nav class='navbar navbar-expand-md navbar-dark bg-dark sticky-top'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'><img src=''></a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive'> 
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarResponsive'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <%= link_to 'ホーム', root_path, class: 'nav-link' %>     
        </li>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to 'お気に入り', favorites_users_path, class: 'nav-link' %>     
          </li>
          <li class='nav-item'>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>     
          </li>
          <% if current_user.admin? %>
            <li class='nav-item'>
              <%= link_to '管理画面', admin_root_path, class: 'nav-link' %>
            </li>
          <% end %>
        </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>   
          </li>
          <li class='nav-item'>
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>      
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>